body{
    margin:0;
    padding:0;
    font-family: Georgia, serif;

    background:linear-gradient(
    135deg,
    #e9dfcf,
    #d8c3a5
    );

    min-height:100vh;
}

/* ======================
   COUVERTURE
====================== */

.accueil{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.carte{
    background:#f8f3ea;

    max-width:850px;
    width:100%;

    padding:60px;

    text-align:center;

    border-radius:35px;

    box-shadow:
    0 25px 60px rgba(0,0,0,0.15);

    border:1px solid rgba(139,111,71,0.2);
}

.photo-couple{

    width:280px;
    height:360px;

    object-fit:cover;

    border-radius:20px;

    border:10px solid white;

    transform:rotate(-2deg);

    box-shadow:
    0 15px 35px rgba(0,0,0,0.2);

    margin-bottom:30px;
}

h1{
    font-size:3rem;
    color:#4a3620;

    text-transform:uppercase;

    letter-spacing:2px;

    margin-bottom:15px;
}

.soustitre{
    font-size:1.4rem;
    font-style:italic;
    color:#7b6246;
}

#compteur{
    margin:25px 0;
    color:#7b6246;
    font-size:1rem;
}

.citation{
    margin-top:25px;
    line-height:2;
    font-size:1.2rem;
    color:#4a3620;
}

/* ======================
   BOUTONS
====================== */

.btn{

    margin-top:35px;

    background:#6e5638;

    color:white;

    border:none;

    padding:18px 35px;

    font-size:1.1rem;

    border-radius:50px;

    cursor:pointer;

    transition:0.3s;
}

.btn:hover{

    transform:translateY(-3px);

    box-shadow:
    0 10px 25px rgba(0,0,0,0.15);
}

/* ======================
   LIVRE
====================== */

.cache{
    display:none;
}

#voyage{

    display:none;

    min-height:100vh;

    padding:40px;

    background:#efe4d2;
}

#voyage h2{

    text-align:center;

    color:#4a3620;

    font-size:2.5rem;

    margin-bottom:40px;
}

/* ======================
   SOMMAIRE
====================== */

.jours{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:25px;
}

.jour{

    background:white;

    width:280px;

    padding:25px;

    border-radius:25px;

    cursor:pointer;

    transition:0.3s;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

.jour:hover{

    transform:
    translateY(-8px)
    scale(1.02);
}

.jour h3{

    color:#4a3620;

    margin-bottom:10px;
}

.jour p{

    color:#7b6246;
}

.verrouille{

    opacity:0.45;
}

/* ======================
   CHAPITRE
====================== */

#jour1{

    margin-top:40px;
}

#jour1 .carte{

    max-width:900px;

    margin:auto;

    text-align:left;
}

#jour1 h2{

    text-align:center;

    margin-bottom:30px;
}

#jour1 p{

    font-size:1.15rem;

    line-height:2;

    color:#4a3620;
}

/* ======================
   EFFET LIVRE
====================== */

.carte::before{

    content:"";

    position:absolute;
}

body{

    overflow-x:hidden;
}
