body{
margin:0;
font-family:Arial,sans-serif;
background:linear-gradient(
135deg,
#fff7f8,
#ffe4ec
);
min-height:100vh;
}

.accueil{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.carte{
background:white;
padding:40px;
border-radius:30px;
box-shadow:0 10px 40px rgba(0,0,0,0.1);
max-width:700px;
text-align:center;
}

h1{
color:#ff4f8a;
font-size:3rem;
}

#compteur{
margin:20px;
font-size:1.2rem;
font-weight:bold;
color:#555;
}

.citation{
font-size:1.2rem;
line-height:1.8;
color:#666;
}

.btn{
background:#ff4f8a;
color:white;
border:none;
padding:18px 30px;
border-radius:50px;
font-size:1rem;
cursor:pointer;
margin-top:20px;
}

.btn:hover{
transform:scale(1.05);
}

.cache{
display:none;
}

#voyage{
padding:50px;
text-align:center;
}

.jours{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.jour{
background:white;
padding:20px;
width:160px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.verrouille{
opacity:0.5;
}
.soustitre{
font-size:1.3rem;
color:#888;
margin-bottom:25px;
font-style:italic;
}
.photo-couple{
width:220px;
height:220px;
object-fit:cover;
border-radius:50%;
margin-bottom:25px;
box-shadow:0 10px 30px rgba(255,79,138,0.25);
border:5px solid white;
}
